rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /kel_app_store/{document} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
